@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body{
  background-color: #000;
  color: white;
}

.logo{

  padding-top: 8px;
  margin-left: 100px;
}


.logo-text{
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.logo-text:hover{
  color: white;
  text-decoration: none;
}


.banner{
  background-image: url(../img/bcg-img.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  height: 80vh;
  margin-top: -30px;
}

.nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 30px;
}

.nav-link{
  cursor: pointer;
}

.nv-toggler{
  display: none;
}

.content{
  list-style: none;
  display: flex;
  align-items: center;
  margin: 11px;
  padding-right: 108px;
}

.wagon{
  color: red;
  transition: background-color 0.5s ease;
}

.wagon-logo{
  width: 20px;
  /*visibility: hidden;*/
  display: none;
}

.wagon:hover{
  text-decoration: none;
  border: 1px solid white;
  border-radius: 3px;
  background-color: white;
  color: red;
  font-weight: bold;
  padding: 6px;
}

.wagon:hover .wagon-logo{
  display: inline;
}


.list{
  padding: 15px;
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.list:hover{
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
}

.cv{
  padding: 15px;
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.cv:hover{
  color: white;
  text-decoration: none;
}

.resume-dropdown{
  display: flex;
  align-items: center;
}

.resume-dropdown .icon{
  color: white;
  margin-left: -13px;
  visibility: hidden;
}

.resume-dropdown:hover .icon{
  visibility: visible;
}

.title{
  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
  margin: 1.5em;
  color: white;
}

.about-content{
  max-width: 800px;
  margin: auto;
}

.about-text{
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
}

.contact-content{
  max-width: 500px;
  margin: auto;
}

.submit{
  border: 1px solid;
  width: fit-content;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover{
  color: black;
  background-color: white;
}

.footer{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid;
  margin-top: 60px;
  align-items: center;
}

.links{
  padding-top: 15px;
}

.copyright{
  padding-top: 15px;
  font-weight: lighter;
  font-size: 0.8em;
  opacity: 0.6;
  margin: 20px;
}

.copyright:hover{
  opacity: 1;
}

.icon{
  padding: 0 4px;
  color: white;
  opacity: 0.6;
}

.icon:hover{
  opacity: 1;
}

.work-info{
  max-width: 500px;
  margin: auto;
}

.img{
  max-height: 40em;
  object-fit: contain;
}

.work-description{
  font-weight: lighter;
  font-size: 20px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.margin {
  margin-top: 4.5em;
}

.card-show{
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto;
  align-items: center;
}

.icon{
  cursor: pointer;
}


.contact{
  display: flex;
  justify-content: center;
}

.text{
  width: 400px;
}

.label{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: lighter;
}

/*contact me section*/
/*start*/

.panel.panel-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  opacity: 0.95;
  background-image: url('http://uplusion23.net/images/RickGenestSm.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 50%;
  transform: translateX(-50%) translateY(-50%);
}



.panel.panel-content .form {
  display: block;
  position: absolute;
  margin: 0 auto;
  width: 300px;
  min-height: 400px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-25%);
}

 .panel .panel-content .form {
  display: block;
  margin: 0 0 45px 0;
  color: #B1B1B1;
  font-weight: 200;
  font-size: 18px;
}

.group {
  position: relative;
  margin-bottom: 25px;
}

input {
  font-size: 15px;
  height: 25px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  outline: none;
  border-bottom: 1px solid #B1B1B1;
  color: #B1B1B1;
  background: rgba(0,0,0,0);
  opacity: 0.5;
  transition: 0.2s ease;
}

input:focus {
  outline: none;
  opacity: 1;
}

label {
  color: #B1B1B1;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 0px;
  opacity: 0.5;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label{
  top: -20px;
  font-size: 15px;
  color: #B1B1B1;
  opacity: 1;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#B1B1B1; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#B1B1B1; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#B1B1B1; }
  to  { width:0; background:transparent; }
}

.btn1 {
  color: white;
  background-color: black;
  transition: 0.8s ease;
  opacity: .7;
  padding: 7px;
  border: none;
}

.btn1:hover {
  text-decoration: none;
  color: black;
  background-color: white;
  cursor: pointer;
  border: 1px solid #B1B1B1;
  border-radius: 5px;
}

.banner-content{
  display: flex;
  justify-content: center;
  margin-top: 30vh;
}

.ml13 {
  font-size: 1.9em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 600;
}

.ml13 .letter {
  display: inline-block;
  line-height: 1em;
}

/*end*/

@media (min-width : 320px) and (max-width : 767px){
  .logo{
    margin-left: 0px;
  }

  .nv-toggler{
    display: initial;
    padding: .25rem .75rem;
    font-size: 1.05rem;
    line-height: 1;
    margin-top: 10px;
    background-color: transparent;
    border: none;
  }

  .content{
    padding-right: 0;
    float: right;
    border: 1px solid transparent;
    padding: 9px;
    border-radius: 7px;
    background-color: #000000b3;
    margin-right: -19px;
  }

  .banner{
    background-position: 56% 53%;
    height: 90vh;
  }

  .banner-content{
    margin-top: 32vh;
  }

  .ml13{
    font-size: 1.0em;
    letter-spacing: 0.1em;
    font-weight: 300;
  }

  .icon-btn{
     color:#fff;
     font-size:28px;
  }
}


@media (min-width : 768px) and (max-width : 1024px){
  .logo{
    margin-left: 0px;
  }

  .content{
    padding-right: 0;
    float: right;
    border: 1px solid transparent;
    padding: 9px;
    /*border-radius: 7px;
    background-color: #000000b3;*/
    margin-right: -19px;
  }

  .nv-toggler{
    display: initial;
    padding: .25rem .75rem;
    font-size: 1.05rem;
    line-height: 1;
    margin-top: 10px;
    background-color: transparent;
    border: none;
  }

  .ml13{
    font-size: 1.75em;
    letter-spacing: 0.1em;
    font-weight: 300;
  }

   .icon-btn{
     color:#fff;
     font-size:28px;
  }

}

@media (min-width : 1024px) and (max-width : 1366px){

    button:not(:disabled){
      display: none;
    }

    .banner{
      background-size: cover;
    }

    .content {
      padding-right: 30px;
      background-color: #00000000;
    }

    .logo{
      margin-left: 40px;
    }

    .icon-btn{
     color:#fff;
     font-size:28px;
  }
}


